<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969140324908-mfc5bsefmt78t08njqhk02jc06crcmi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969140324908-mfc5bsefmt78t08njqhk02jc06crcmi3</string>
	<key>API_KEY</key>
	<string>AIzaSyDvUm2IpiR1ISgffnUbsW4Tw5ni5ASTkxc</string>
	<key>GCM_SENDER_ID</key>
	<string>969140324908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KirillSytkov.Tms.YourWeather</string>
	<key>PROJECT_ID</key>
	<string>appweather-95b36</string>
	<key>STORAGE_BUCKET</key>
	<string>appweather-95b36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969140324908:ios:5c3ddd7b8d319f737c5f89</string>
</dict>
</plist>